{% extends "index.html" %}

{% block title %}
    Mastery Chain Links
{% endblock %}

{% block content %}
    <div class="spacer"></div>

    <div class="mclinks_table">
        <h1>Available Mastery Chain Links</h1>
        <hr>
        <table class="table table-striped-columns table-hover table-bordered border-info">
            <thead  class="mclinks_head table-primary">
        <div hidden class="select">
            <select class="form-control" id="locale">
                <option value="en-US" selected>en-US</option>
            </select>
        </div>

        <table id="table" data-search="true" data-click-to-select="true" class="table table-striped-columns table-hover table-bordered border-info table-sm">
            <thead class="mclinks_head table-primary">
                <tr>
                    <th>Name</th>
                    <th>Quality</th>
                    <th>Quantity</th>
                    <th>Market Price</th>
                    <th>Guild Price</th>
                </tr>
            </thead>
            <tbody>
                {% for mclinks_data in mclinks_data %}
                <tr>
                    <td>{{ mclinks_data['name'] }}</td>
                    <td>{{ mclinks_data['quality'] }}</td>
                    <td>{{ mclinks_data['quantity'] }}</td>
                    <td>{{ mclinks_data['market_price'] }}</td>
                    <td>{{ mclinks_data['guild_price'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
    </div>
    <div class="spacer"></div>
{% endblock %}
