{% extends "index.html" %}

{% block title %}
    User Page
{% endblock %}

{% block content %}
<div class="spacer"></div>
<div class="user_table">
    <h1>Hello, {{ user_data['display_name'] }}!</h1>
    <hr>
    <table class="table table-striped-columns table-bordered border-info">
        <thead class="table-primary">
            <tr>
                <th>Username</th>
                <th>Display Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form action="/user_update_user" method="post">
                    <td><input type="text" name="username" value="{{ user_data['username'] }}"></td>
                    <td><input type="text" name="display_name" value="{{ user_data['display_name'] }}"></td>
                    <input type="hidden" name="id" value="{{ user_data['id'] }}">
                    <td><button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure?')">Update</button></td>
                </form>
            </tr>
        </tbody>
    </table>
        <p><b>New Password Requirements:</b></p>
        <p>Minimum 8 characters, a symbol, number and upper and lower case characters</p>
    <table class="table table-striped-columns table-bordered border-info">
        <thead class="table-primary">
            <tr>
                <th>Old Password</th>
                <th>New Password</th>
                <th>Confirm New Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form action="/user_update_pass" method="post">
                    <td><input type="password" name="old_password"></td>
                    <td><input type="password" name="new_password"></td>
                    <td><input type="password" name="confirm_password"></td>
                    <input type="hidden" name="id" value="{{ user_data['id'] }}">
                    <td><button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure?')">Update</button></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}