{% extends "index.html" %}

{% block title %}
    Admin - Members' Area
{% endblock %}

{% block content %}
    <div class="spacer"></div>
    <div class="homepage">
        <h1>Instructions</h1>
        <hr>
        <br>
        <p>Check out the <b>Mastery Chain Link Availability</b> to see how many links are available!</p>
        <p>When <b>Mastery Chain Link Selection</b> is open, you can then select links and add them to your selection</p>
        <p>If you need to change anything you can <b>update</b> or <b>delete</b> a single or <b>resetting</b> all your selections</p>
        <p>When you are happy with your selections you can then <b>lock in</b> your choices</p>
    </div>
{% endblock %}

